@model TweetStockAnalyzerWeb.ViewModel.Company.CompanyIndexViewModel

@{
    ViewBag.Title = "CompanyList";
}

<style type="text/css">
    .bottom-margin {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .border-box {
        border: 1px solid #ddd;
    }

    .align-right {
        float: right;
    }

    .margin-left {
        margin-left: 10px;
    }
</style>

<h2>Company</h2>
@MessageHelper.SuccessMessage(Model.SuccessMessage)

<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create")'">
    <span class="glyphicon glyphicon-plus"></span>Add
</button>
<span style="float:right">このへんにフィルターとかソートをつける</span>
@{
    foreach (var companyWithScore in Model.CompanyWithScores)
    {
        <div class="border-box bottom-margin">
            <p>
                <b>@Html.ActionLink(companyWithScore.Company.CompanyName, "Detail", new { companyId = companyWithScore.Company.CompanyId })</b>
                @if (companyWithScore.Company.Stock != null)
                {
                    <span>(@companyWithScore.Company.Stock.StockCode)</span>
                }
                <span class="align-right">
                    @Html.ActionLink("Modify", "Update", new { companyId = companyWithScore.Company.CompanyId })
                    |
                    @Html.ActionLink(
                    "Delete",
                    "Delete",
                    new { companyId = companyWithScore.Company.CompanyId },
                    new { onclick = "return confirm('Are you sure you wish to delete this company?');" })
                </span>
                <span class="margin-left">Score:100</span>
            </p>
            <p>
                @ChartHelper.CompanyScoreChart(companyWithScore.Company, companyWithScore.CompanyScores)
            </p>
        </div>
    }
}