@model TweetStockAnalyzer.Model.Company

<p>
    <b>@Model.CompanyName</b>
    @if (Model.Stock != null)
    {
        <span><a href='@string.Format("http://stocks.finance.yahoo.co.jp/stocks/detail/?code={0}",Model.Stock.StockCode)'>@Model.Stock.StockCode</a></span>
    }
    @if (ViewData["ParentCompanyName"] != null)
    {
    <p>ParentCompanyName:@ViewData["ParentCompanyName"]</p>
    }
    <hr />
    <p>
        Products
        <ul>
            @foreach (var product in Model.Products)
            {
                <li><a href="@Url.Action("Detail", "Product", new { productId = @product.ProductId })">@product.ProductName</a></li>
            }
        </ul>
    </p>
    <hr />
    @if (Model.CompanyScores != null && Model.CompanyScores.Count() > 0)
    {
        <p>
            Score
        </p>
        <span class="margin-left">
            @Model.CompanyScores.OrderBy(s => s.RegisterDate).Last().Score
        </span>
    }
    else
    {
        <p>
            Score is not evaluated yet.
        </p>
    }
    <hr />
    @if (Model.CompanyScores != null && Model.Stock != null)
    {
        <p>
            Chart
        </p>
        @ChartHelper.ScoreChart("Score and StockPrice Chart",
                                Model.CompanyScores.ToDictionary(s => s.RegisterDate.Date, s => (double)s.Score),
                                Model.Stock.StockPrices.ToDictionary(p => p.RegisterDate, p => p.ClosingPrice))
        <hr />
    }
    @if (Model.CompanyScores != null)
    {
        @HistoricalDataHelper.Table("Historical Scores", Model.CompanyScores.ToDictionary(s => s.RegisterDate, s => (double)s.Score))
        <hr />
    }
    @if (Model.Stock != null)
    {
        @HistoricalDataHelper.Table("Historical StockPrices", Model.Stock.StockPrices.ToDictionary(p => p.RegisterDate, p => p.ClosingPrice))
    }