@model TweetStockAnalyzer.Model.Product

<p><b>@Model.ProductName</b></p>

<p>@Model.ServiceStartDate</p>
<p>@Model.ServiceEndDate</p>
<p>
</p>
<p>
    Companies
    <ul>
        @foreach (var company in Model.Companies)
        {
            <li><a href="@Url.Action("Detail", "Company", new { companyId = @company.CompanyId })">@company.CompanyName</a></li>
        }
    </ul>

</p>
<p>
    Chart
</p>
@ChartHelper.ScoreChart("SearchResult", Model.SearchResults.GroupBy(r => r.RegisterDate.Date).ToDictionary(g => g.Key, g => (double)g.Sum(r => r.TweetCount)))
